<div class="container d-flex justify-content-center">
    <form action="" #form="ngForm" autocomplete="off">
        <input #input type="text" [(ngModel)]="query.query" name="query">
        <select name="type" id="" [(ngModel)]="query.type">
            <option value="User">User</option>
            <option value="Repository">Repository</option>
        </select>
        <button class="btn btn-dark" (click)="this.submit()">Submit</button>
    </form>
</div>

<app-user-info *ngIf="this.check === true" [query]="this.query"></app-user-info>
<div *ngIf="this.check === false">repo component</div> <!-- Repo component placeholder-->